.btns-container {
  width: 30%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #333;
  margin: 25px auto;
}
